* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-style: sans-serif;
}

div,
section,
span,
ul,
li,
a,
header {
  box-sizing: border-box;
}

/*css reset*/

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  position: fixed;
  z-index: 999;
}

#menu li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

#menu li a:hover {
  color: #000;
  transition: 0.5s;
}

section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

#inicio {
  background-color: #59405c;
}

#sobre {
  background-color: #ed6663;
}

#produtos {
  background-color: #b52b65;
}

#precos {
  background-color: #3c2c3e;
}

#contatos {
  background-color: #b52b65;
}

#topo {
  text-decoration: none;
  color: #fff;
  background-color: #1a1a1a;
  padding: 15px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 15px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: #fff;
}
